.Container {
  max-width: 800px; 
  margin-top: 40px;
  margin: 0 auto; 
  padding: 20px; 
  background-color: #f9f9f9; 
  border-radius: 8px; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 2rem; 
  color: #333; 
  margin-bottom: 10px; 
}

.description {
  font-size: 1rem; 
  color: #666; 
  margin-bottom: 20px;
}

.subtitle {
  font-size: 1.5rem; 
  color: #444;
  margin-bottom: 10px; 
}

.videoSelect {
  width: 100%; 
  padding: 10px; 
  margin-bottom: 20px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  font-size: 1rem; 
}

.videoPlayer {
  width: 100%; 
  border-radius: 4px; 
  margin-bottom: 10px; 
}

.completedButton {
  padding: 10px 15px; 
  background-color: #28a745; 
  color: white;
  border: none; 
  border-radius: 4px; 
  cursor: pointer; 
  font-size: 1rem; 
  transition: background-color 0.3s; 
}

.completedButton:hover {
  background-color: #218838; 
}

.notCompletedButton {
  padding: 10px 15px; 
  background-color: #dc3545; 
  color: white; 
  border: none;
  border-radius: 4px; 
  cursor: pointer; 
  font-size: 1rem; 
  transition: background-color 0.3s; 
}

.notCompletedButton:hover {
  background-color: #c82333; 
}

.quizSection {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.quizSection h2 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #333;
}

.question {
  margin-bottom: 15px;
}

.question p {
  font-size: 18px;
  margin-bottom: 5px;
  color: #555;
}

.questionLabel { 
  display: block; 
  margin-bottom: 5px;
  font-size: 16px;
  color: #444;
}

.radioInput { 
  margin-right: 10px; 
}

.submitButton {
  background-color: #0070f3; 
  color: white; 
  padding: 10px 15px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  font-size: 16px; 
  transition: background-color 0.3s; 
}

.submitButton:hover {
  background-color: #005bb5;
}

.quizCompleted {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #28a745;
  background-color: #d4edda;
  color: #155724; 
  border-radius: 5px; 
}

.endscreen {
  margin-top: 20px;
  padding: 10px;
  color: #333;
}