/* styles/Home.module.css */
.header {
  text-align: center;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.233);
}

.main {
  padding: 2rem;
}

.sectionTitle {
  font-size: large;
  padding: 1rem;
}

.cardContainer {
  display: flex;
  overflow-x: auto;
  padding: 1rem;
  cursor: grab;
}

.card {
  min-width: 250px;
  margin-right: 1rem;
  background: #f1f1f148;
  border-radius: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 1rem;
}

.card:hover{
  transform: scale(1.05);
}

.cardImage {
  width: 100%;
  border-radius: 8px;
}

.container_title {
  margin-top: 1rem ;
  padding: 1rem;
  font-size: 1.5rem;
}