.navbar {
    background-color: #333;
    align-items: center;
    justify-content: center;
}

.navbar-brand {
    padding: 4rem;
    color: #ffffff !important; 
}

.nav{
    display: flex;
    align-items: center;
    padding: 10px 20px; 
    background-color: #333; 
    color: white; 
    gap: 8rem;
}
.nav-left, .nav-right {
    display: flex;
    flex-direction: row;
    gap: 4rem;
}

.nav-link {
    color: #ffffff !important; 
}

.nav-link:hover {
    color: #ffcc00 !important;
}

.dropdown-toggle {
    border-radius: 16px;
    background-color: #6db2fc !important;
    color: #ffffff !important; 
  }
  
.dropdown-toggle:hover {
    color: #ffcc00 !important;
}

.dropdown-item {
    background-color:6db2fc;
    color: #000000 !important;
}

.dropdown-item:hover {
    background-color: #ffcc00; 
}

.nav-profile {
    align-items: end;
    color: #ffffff !important;
}

.logout {
    border: none;
    background: none;
    color: #ffffff !important;
}

.logout:hover{
    color: #ffcc00;
}